<img src = 'https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true' width="240" height="360">
# __Assignment: Numpy and Pandas__
### Level: 1

### 1. Create a null vector of size 7 but the third and last value as 2.

In [1]:
import numpy as np
def generate():
    vec = np.zeros(7)
    vec[2] = 2
    vec[-1] = 2
    print(vec)
generate()

[0. 0. 2. 0. 0. 0. 2.]

### 2. Create a vector of size 9 with values ranging from 0 to 2, both excluded.

In [16]:
import numpy as np
def generate():
    Vector = np.linspace(0, 2, num = 11, endpoint = True)[ 1:-1 ]
    print(Vector)
generate()

[0.2 0.4 0.6 0.8 1.  1.2 1.4 1.6 1.8]

### 3. Convert the first character of each element in a series to uppercase?And return the new series. Hint: use map and lambda methods.

In [9]:
import pandas as pd
series = pd.Series(['how', 'to', 'learn', 'data science?'])
def generate():
    new_series = series.map(lambda x: x[0].upper() + x[1:])
    return new_series
generate()

0              How
1               To
2            Learn
3    Data science?
dtype: object

### 4. Given a 3*3 matrix named matrix_fab, From each element of this matrix subtract the mean of that row, name this matrix as matrix_sub. Divide each element of this matrix by twice of the largest element to get matrix_norm. Print it out.

In [10]:
import numpy as np
arr = np.arange(0,9)                                
matrix_fab = arr.reshape(3,3)
def generate():
    matrix_sub = matrix_fab - matrix_fab.mean(axis = 1, keepdims = True)
    max = matrix_sub.max()
    matrix_norm = matrix_sub/(2*max)
    print(matrix_norm)
generate()

[[-0.5  0.   0.5]
 [-0.5  0.   0.5]
 [-0.5  0.   0.5]]

### 5. Create a random vector of size 12 , sort it in decreasing order, make 4*3 array using it.
Hint: use reshape and sorted function.

In [11]:
import numpy as np
def generate():
    rand_vect = np.random.random(12)
    rand_sort = np.array(sorted(rand_vect,reverse=True))
    rand_new = rand_sort.reshape(4,3)
    print(rand_new)
generate()

[[0.86685908 0.82761388 0.72428245]
 [0.6750039  0.43843945 0.40909213]
 [0.39730975 0.32786399 0.32762578]
 [0.16984344 0.08428224 0.05113456]]

### 6. Below is Python dictionary data and Python list labels. Create a DataFrame df from this dictionary data which has index as labels. Select the rows where the age is missing, i.e. is NaN.

In [13]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
import pandas as pd
def generate():
    df = pd.DataFrame(data, index=labels)
    print(df[df['age'].isnull()])
generate()

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 7. From the give dataframe df, in the 'animal' column change the 'dog' entries to 'Labrador', change the age in row 'd' to 2.7 and calculate the mean age (name it mean_age) for each different animal in df. Print df and return mean_age

In [21]:
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
def generate():
    df['animal'] = df['animal'].replace('dog', 'Labrador')
    df.loc['d', 'age'] = 2.7  
    mean_age = df.groupby('animal')['age'].mean()
    print(df)
    return mean_age
generate()

     animal  age  visits priority
a       cat  2.5       1      yes
b       cat  3.0       3      yes
c     snake  0.5       2       no
d  Labrador  2.7       3      yes
e  Labrador  5.0       2       no
f       cat  2.0       3       no
g     snake  4.5       1       no
h       cat  NaN       1      yes
i  Labrador  7.0       2       no
j  Labrador  3.0       1       no

animal
Labrador    4.425
cat         2.500
snake       2.500
Name: age, dtype: float64

### 8.  From the given dataframe get the positions where values of two columns match?

In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
def generate():
    s = np.where(df.fruit1 == df.fruit2)
    print(s)
    return None
generate()

(array([5, 7, 9], dtype=int64),)

### 9. Find the positions of numbers that are multiples of 4 from a series? Print series and return position. Hint: use argwhere.

In [29]:
import pandas as pd
import numpy as np
def generate():
    series = pd.Series(np.random.randint(1, 10, 7))
    pos=np.argwhere(series % 4 == 0 )
    print(series)
    print(pos)
generate()

0    8
1    9
2    8
3    1
4    9
5    8
6    5
dtype: int32
[[0]
 [2]
 [5]]

### 10. Stack two given series vertically and horizontally ?

In [14]:
import pandas as pd
import numpy as np
series1 = pd.Series(range(5))
series2 = pd.Series(list('aanyp'))
def generate():
    verti = series1.append(series2)
    print(verti)
    hori = pd.concat([series1, series2], axis=1)
    print(hori)
    return None
generate()

0    0
1    1
2    2
3    3
4    4
0    a
1    a
2    n
3    y
4    p
dtype: object
   0  1
0  0  a
1  1  a
2  2  n
3  3  y
4  4  p